{{ define "main"}}
{{ $wideViewAsDefault := ($.Param "wideViewAsDefault") }}

<div class="mid">
    <div class="divider">

      <nav id="single-menu" class="{{ if $wideViewAsDefault }}hide{{ else }}l{{ end }}" data-dir="{{ $.Param "languagedir" | default "ltr" }}">
      </nav>

      <article id="list-main-portfolio" class="{{ if $wideViewAsDefault }}lm{{ else }}m{{ end }}" data-dir="{{ $.Param "languagedir" | default "ltr" }}">
        {{ partial "main/sections/list-main-portfolio.html" . }}
        {{ partial "main/component/pagination-single.html" . }}
      </article>

      <section id="list-side" class="r" data-dir="{{ $.Param "languagedir" | default "ltr" }}">
        {{ if $.Param "enableToc" }}
          {{ partial "main/component/toc.html" . }}
        {{ end }}
      </section>

    </div>
</div>

{{ end }}
